repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6 # choose the latest Ruff release
    hooks:
      - id: ruff
        args: ["--fix"] # auto-fix lint issues, incl. import sorting
      - id: ruff-format # replaces the "black" and "black-jupyter" hooks

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
        exclude: (CHANGELOG.md)$

  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.2.6
  #   hooks:
  #     - id: codespell
  #       exclude: (package.*.json|.ipynb|CHANGELOG.md)$
